# Ignore Pi runtime state by default.
*

!/.gitignore
!/.pre-commit-config.yaml
!/AGENTS.md
!/keybindings.json
!/mcp.json
!/models.json
!/pi-auto-rename.json
!/README.md
!/settings.json
!/setup.sh

!/extensions/
!/extensions/**
/extensions/node_modules/
/extensions/trajectory/

!/prompts/
!/prompts/**

!/themes/
!/themes/**
